@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
  label {
    @apply flex flex-col
  }

  input,
  select {
    @apply bg-transparent border outline-none p-2 rounded
  }
}

.main-container {
  max-width: 1200px;
  margin-inline: auto;
  padding: auto 10px;
}

* {
  font-family: 'Poppins', sans-serif;
}
